<!-- begin:: Footer -->
<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop">
    <div class="kt-footer__copyright">
        2020&nbsp;&copy;&nbsp;
        <a href="<%=generateUrl('user.dashboard')%>" class="kt-link">Choona</a>
    </div>

</div>
<!-- end:: Footer -->